
/existing_code/forum-crawler data
/.idea
/data/*
!/data/test_data/
!/data/test_data/**
!/data/DATA_FORMAT.md

/src/PatientX.egg-info
/src/PatientX/models/__pycache__
/src/PatientX/__pycache__
/output

